---
order: 900
icon: chevron-right
---
# Verification

In order to prevent copyminting and rampant botting, we have instituted a simple verification mechanism to ensure that everyone using Versum is a legitimate person who is a part of our Tezos creative community. While there is no gatekeeping on Versum, anyone can buy and sell on the platform, registration is encouraged. In cases where no registration has been made, some restrictions will apply.

## Unverified Users

If you are unverified, you can buy any ITEM on Versum, unless the artist has restricted sales to verified users only. You can swap any ITEM, but any sales will remain in escrow for a two-week period. This escrow period is not per sale, but based on your first sale. Unverified user can not mint.

## Claiming funds on escrow

If you are not verified and you start trading on Versum, your funds will be held in escrow for a two-week period from the data of your first sale. This period is necessary to make sure there is no reports against your account and you are a legitimate collector. After the two-week period you will be able to withdraw your funds. The two week period is not per sale, but only applicable to a two-week period from your first sale. Once the two-week period is over, you should be able to trade without restrictions.

If you choose to get verified, you are able to withdraw your funds from the `Dashboard` without having to wait for the two-week period to finish.

## To Receive Verification

You must have social proofs from one of the Tezos identity services. The more proofs you have, the more likely you will have the option to be verified, as Versum is constantly monitoring these services and updating its allow list. To get your social proofs, update your profile in one of the Tezos identity managers ([Tezos Profiles](https://tzprofiles.com/), [TZKT](https://tzkt.io), or [TezID](https://tezid.net/)). Versum looks at TezosProfiles first, so at least do that one, and add as many proofs as you're comfortable with.

Once you have done this, we need to process this data. Once its processed, an on-chain verification button will appear in Settings -> Account in your Versum profile. This will trigger a wallet dialogue and we will write your verification status to the blockchain. After that, you will have unrestricted access to all of Versum's features. Procesing this data is not automatic, we process it daily in batches so it can take 24-48h.
